DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Uncomment for PostgreSQL (docker compose up -d)
# DATABASE_URL=postgres://fleetledger:fleetledger@localhost:5432/fleetledger

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@fleetledger.local

REPORT_ENCRYPTION_PASSWORD=change-me-report-password
